**Step 1: Importing the libraries**

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

**Step 2: Importing dataset**

In [ ]:
df = pd.read_csv('/content/Data.csv')
df

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

**Step 3: Handling the missing data**

In [ ]:
df.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [ ]:
df.groupby('Country')['Age'].mean()

Country
France     41.0
Germany    40.0
Spain      32.5
Name: Age, dtype: float64

In [ ]:
df.groupby('Country')['Salary'].mean()

Country
France     69000.000000
Germany    68500.000000
Spain      53666.666667
Name: Salary, dtype: float64

### Filling the missing values by sorting and taking mean wrt to country because of small dataset

In [ ]:
df['Age'] = df['Age'].fillna(32.5)
df['Salary']=df['Salary'].fillna(68500)

**Step 4: Encoding categorical data**

In [ ]:
categorical_values = [i for i in df.columns if df[i].dtype == 'O']
categorical_values

['Country', 'Purchased']

### Either label or one hot encoding can be done apparently i am performing one hot encoding

**Step 5: Creating a dummy variable**

In [ ]:
df = pd.get_dummies(df,drop_first = True)
df

    Age   Salary  Country_Germany  Country_Spain  Purchased_Yes
0  44.0  72000.0                0              0              0
1  27.0  48000.0                0              1              1
2  30.0  54000.0                1              0              0
3  38.0  61000.0                0              1              0
4  40.0  68500.0                1              0              1
5  35.0  58000.0                0              0              1
6  32.5  52000.0                0              1              0
7  48.0  79000.0                0              0              1
8  50.0  83000.0                1              0              0
9  37.0  67000.0                0              0              1

**Step 6: Splitting the datasets into training sets and Test sets**

In [ ]:
x = [i for i in df.columns if i!='Purchased_Yes']
x = df[x]
y = df['Purchased_Yes']
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.33,random_state = 10)

**Step 7: Feature Scaling**

In [ ]:
scaler = StandardScaler()
tx_train = scaler.fit_transform(x_train)
tx_test = scaler.transform(x_test)